

  <div class="container">
    <div class="section">
    	<div class="row">
    		<div class="col s12 center">
    		  <h3>Login</h3>
    		</div>
    	</div>
      <div class="row">
        <div class="col s12">
					<div class="card-panel card-show lighten-5">
						<%= form_for :user do |form| %>
							<%= form.email_field :email, placeholder: "Enter email" %>
							<%= form.password_field :password, placeholder: "Enter password" %>
							<%= form.submit 'Login', class: 'btn waves-effect waves-light' %>
						<% end %>
						<hr class="blue-grey lighten-4">
						<%= link_to "< Back", main_path %>


					</div>	
        </div>
      </div>

    </div>
  </div>







